.ayudaItemsContainer{
    margin: 90px auto;
    width: 1320px;
    .ayudaItem {
        margin-bottom: 50px;
        .ayudaItem__titulo {
            padding: 15px;
            background-color: $primary-color;
            color: $font-color;
            font-family: $secondary-font-style;
            font-size: 2rem;
            border-radius: 20px;
            font-weight: 100;
        }
        .ayudaItem__Texto {
            margin: 0 auto;
            width: 1265px;
            background-color: $tercer-color;
            border-radius: 0px 0px 20px 20px;
            border-bottom: 2px;
            
            >p{
                font-family: $secondary-font-style;
                color: black;
                font-size: 1.5rem;
                font-weight: 100;
                padding: 30px;
            }
    
        }
    }
}

