.item {
    width: 1300px;
    border-bottom: 2px solid white;
    margin: 60px auto;

    &__titulo {
        font-size: 2.5rem;
        color: white;
        font-weight: 100;
    }

    &__precio {
        font-size: 1.5rem;
        color: white;
        font-weight: 100;
    }

    &__autor {
        font-size: 1.5rem;
        color: white;
        font-weight: 100;
    }

    &__boton {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 15px;
        font-family: $secondary-font-style;
        font-weight: 100;
        background-color: $primary-color;
        transition: 0.5s;
        color: white;
        border: 2px solid white;

        &:hover {
            background-color: $tercer-color;
            color: black;
            border: 2px solid black;
            cursor: pointer;
        }
    }
}

.detalleCarrito {
    display: flex;
    width: 1300px;
    margin: 60px auto;
    align-items: center;
    justify-content: space-around;

    &__total {
        font-size: 2.5rem;
        color: white;
        font-weight: 100;
    }

    &__boton {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 15px;
        font-family: $secondary-font-style;
        font-weight: 100;
        background-color: $primary-color;
        transition: 0.5s;
        color: white;
        border: 2px solid white;

        &:hover {
            background-color: $tercer-color;
            color: black;
            border: 2px solid black;
            cursor: pointer;
        }
    }
}