.libroDetalle {
    display: grid;
    width: 1300px;
    margin: 140px auto;
    grid-template-rows: 600px 300px;
    color: white;
    font-family: $secondary-font-style;


    >.libroInfo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);

        >.libroInfo__img {
            width: 400px;
        }

        >.libroInfo__datos {
            >.titulo {
                font-size: 3rem;
                text-align: center;
                margin-bottom: 50px;
                font-family: $primary-font-style;
                font-weight: 600;
            }

            >.autor {
                font-size: 2rem;
                margin-bottom: 50px;
                font-weight: 400;
            }



            >.año {
                margin-top: 40px;
                font-size: 2rem;
                margin-bottom: 50px;
            }

            >.genero {
                font-size: 2rem;
                margin-bottom: 50px;
            }

            div {
                display: flex;
                justify-content: space-between;
                >.precio {
                    font-size: 2rem;
                }

                >bottom {
                    font-size: 2rem;
                    padding: 10px;
                    border-radius: 15px;
                    background-color: $primary-color;
                    transition: 0.5s;
                    border: 2px solid white;

                    &:hover {
                        background-color: $tercer-color;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    >.sinopsis {
        font-size: 1.7rem;
    }
}