#preloader5 {
    position: relative;
    margin: 280px auto;
    width: 30px;

    height: 30px;

    background: $primary-color;

    border-radius: 50px;

    animation: preloader_5 1.5s infinite linear;
    &:after {
        position: absolute;
        width: 50px;
        height: 50px;
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-radius: 50px;
        content: '';
        top: -20px;
        left: -20px;
        animation: preloader_5_after 1.5s infinite linear;
    
    }
}

@keyframes preloader_5 {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes preloader_5_after {

    0% {
        border-top: 10px solid $primary-color;
        border-bottom: 10px solid $primary-color;
    }

    50% {
        border-top: 10px solid $tercer-color;
        border-bottom: 10px solid $tercer-color;
    }

    100% {
        border-top: 10px solid $primary-color;
        border-bottom: 10px solid $primary-color;
    }

}