.header {
    background-color: $primary-color;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        h1 {
            font-family: $primary-font-style;
            color: $font-color;
            font-size: 5rem;
            
        }
    }

    &__container {
        .navbar {
            display: flex;
            justify-content: center;
            gap: 100px;

            &__link {
                font-family: $secondary-font-style;
                color: $font-color;
                font-size: 1.2rem;
                font-weight: 100;

                &:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    transition: 0.5s;
                }
            }
        }
    }

}