* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a,
i {
    text-decoration: none;
    color: $font-color;

    &visited {
        color: $font-color;
    }
}

body {
    background-color: $secondary-color;
}

.apartado-container {
    display: flex;
    justify-content: center;
    >.apartado {
        margin-top: 20px;
        width: 1300px;
        border-radius: 15px;
        border: 1px solid #FFFFFF;
        
        >h1{
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 20px;
            font-family: $secondary-font-style;
            color: #FFFFFF;
            font-size: 3rem;
            font-weight: 100;
        }
    }
}